<script>
 var url = "";
</script>
<div class="container">
  <h3>This is the way you followed when you went to <%= @travel.title %></h3>
</div>
<% @travel.points.each do |e| %>
  <script>
    url += "|<%=e.latitude%>,<%=e.longitude%>";
  </script>
<% end %>
<script >
$(document).ready(function(){
    $src = "https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x600&maptype=hybrid&path=color:0x0000ff|weight:5";
    $src += url;
    $src += "&key=AIzaSyDwPHhFoPYRvAhLmHRQxJ42Tv6A5LM72vs";
    $("img").attr("src", $src);
});
</script>
<!-- path=color:0x0000ff|weight:5|40.737102,-73.990318|40.749825,-73.987963|40.752946,-73.987384|40.755823,-73.986397 -->
<div class="container">
  <img id="url" ></img>
</div>
<!-- https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyDwPHhFoPYRvAhLmHRQxJ42Tv6A5LM72vs -->
